#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.student{
  border: 1px solid #ccc;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.student th, .student td{
 width: 100px;
 padding: 5px 10px;
 border: 1px solid #ccc;
}
